.field{
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.field__label{
  font-size: 1.6rem;
}

.field__input{
  border: 1px solid #ccc;
  outline: none;
  padding: 10px 20px;
  font-size: var(--main-font-size);
}