.btn{
  display: block;
  background: #ddd;
  outline: none;
  border: none;
  font-family: var(--main-font);
  font-size: 1.6rem;
  padding: 11px 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &[disabled]{
    cursor: default;
    opacity: 0.5;
  }
}

.btn--base{
  padding: 0;
  background: #00000000;
}

.btn--blue{
  background: #005dff;
  color: #fff;
  &:hover{
    background: #1475ff;
  }
  &[disabled]{
    &:hover{
      background: #005dff;
    }
  }
}

.btn--red{
  background: var(--danger-color);
  color: #fff;
  &:hover {
    background: var(--light-danger-color);
  }
}


.btn--green{
  background: #008541;
  color: #fff;
  &:hover{
    background: #019d4f;
  }
  &[disabled]{
    &:hover{
      background: #008541;
    }
  }
}

.btn--orange{
  background: #FFBE00;
  color: var(--main-color);
  &:hover{
    background: #ffd179;
  }
}