.btn{
  display: block;
  background: #ddd;
  outline: none;
  border: none;
  font-family: var(--main-font);
  font-size: 1.6rem;
  padding: 11px 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &[disabled]{
    cursor: default;
    opacity: 0.5;
  }
}

.btn--base{
  padding: 0;
  background: #00000000;
}

.btn--primary{
  background: var(--primary-color);
  color: #fff;
  &:hover{
    background: var(--light-primary-color);
  }
  &[disabled]{
    &:hover{
      background: var(--primary-color);
    }
  }
}

.btn--danger{
  background: var(--danger-color);
  color: #fff;
  &:hover {
    background: var(--light-danger-color);
  }
}


.btn--success{
  background: var(--success-color);
  color: #fff;
  &:hover{
    background: var(--light-success-color);
  }
  &[disabled]{
    &:hover{
      background: var(--success-color);
    }
  }
}

.btn--outline-success{
  background: rgba(255, 255, 255, 0);
  border: 1px solid var(--success-color);
  color: var(--success-color);
  padding: 10px 20px;
  &:hover{
   background: var(--success-color);
   color: #fff;
  }
  &[disabled]{
    &:hover{
      background: rgba(255, 255, 255, 0);
    }
  }
}

.btn--warning{
  background: var(--warning-color);
  color: var(--main-color);
  &:hover{
    background: var(--light-warning-color);
  }
  &[disabled]{
    &:hover{
      background: var(--warning-color);
    }
  }
}