.welcome{

}

.welcome__title{
  margin-bottom: 40px;
  text-align: center;
}

.welcome__text{
  margin-bottom: 30px;
}


.welcome__message{
  margin-bottom: 30px;
}

.welcome__bottom{
  display: flex;
  justify-content: center;
  gap: 30px;
}