.form{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.form__title{
  font-family:var(--title-font);
  font-size: 2.7rem;
  font-weight: 600;
}

.form__error{
  font-size: 1.8rem;
  color: var(--danger-color);
}

.form__body{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.form__bottom{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.form__link{
  border-bottom: 1px solid var(--main-color);
  transition: 0.2s ease-in-out;
  &:hover{
    border-bottom: 1px solid rgba(0,0,0,0);
  }
}

.form-loader{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff90;
}
