.tasks-block{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.task-list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-list__message{
  text-align: center;
  &.error{
    color: var(--danger-color);
  }
}

